{
  "presets": [
    ["env", { "modules": false }],
    "stage-2",
    "react"
  ],
  "plugins": [
    [
      "transform-runtime", {
        "polyfill": false,
        "regenerator": false
      }
    ],
    "react-hot-loader/babel"
  ]
}
