
.card {
  width: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px 1px #ccc;
  padding: 10px;
  box-sizing: border-box;

  & > h2 {
    margin: 0;
  }
}

.wait, .error {
  text-align: center;
  font-size: 12px;
}

.error {
  color: #f00;
}

.info {

  & > dt {
    margin: 0 auto;
  }

  & > dd {
    margin: 15px auto 0;
    text-align: left;
    padding-left: 20px;
  }

  & a {
    color: #4078c0;

    &:hover, &:active {
      text-decoration: underline;
    }
  }
}

.avatar {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 50%;

  & img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }
}
