
body {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav {
  padding: 40px 40px 0 40px;

  & li {
    padding: 10px 0;

    & > a {
      color: #4078c0;

      &:hover, &:active {
        text-decoration: underline;
      }
    }
  }
}

.content {
  text-align: center;
}
